.heroImage {
  transform: perspective(300px) rotateX(4deg);
  animation: heroImage 2s ease-out;
}

@keyframes heroImage {
  0% {
    transform: perspective(300px) rotateX(8deg) translateY(100px);
  }
  100% {
    transform: perspective(300px) rotateX(4deg);
  }
}
